# Project specific
*.backup
**.tex
/.quarto/
_book
_bookdown_files
_freeze
_quarto-book.yml
docs/*.pdf
krantz.cls
frontmatter
notes.txt
src/book/**.html
src/book/**_files/
src/book/**_cache/
src/book/docs/
src/book/images/
src/tutorials/**/*.html
test.html
test.qmd
test_files/

# RStudio
*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
