# Project specific
*.backup
/.quarto/
_book
_bookdown_files
_freeze
docs/*.pdf
notes.txt
src/book/**.html
src/book/**_files/
src/book/**_cache/
src/book/docs/
src/book/images/
src/tutorials/**/*.html
test.html
test.qmd
test_files/

# RStudio
*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata


