# Project specific
*.backup
/.quarto/
_book
_bookdown_files
_freeze
docs/*.pdf
src/book/**_files/
src/book/**_cache/
src/tutorials/**/*.html

# RStudio
*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata


